services:
  db:
    image: postgres:16.8
    environment:
      POSTGRES_DB: ${DB_NAME:-postgres}
      POSTGRES_USER: ${DB_USER:-postgres}
      POSTGRES_PASSWORD: ${DB_PASSWORD:-postgres}
    volumes:
      - pgdata:/var/lib/postgresql/data
    healthcheck:
      test: [ "CMD-SHELL", "pg_isready -U ${DB_USER:-postgres} -d ${DB_NAME:-postgres}" ]
      interval: 5s
      timeout: 5s
      retries: 10

  backend:
    build: .
    env_file: .env
    environment:
      DB_HOST: db
      DB_PORT: 5432
    ports:
      - "8000:8000"
    depends_on:
      db:
        condition: service_healthy
    volumes:
      - media:/app/media
      - static:/app/staticfiles

volumes:
  pgdata:
  media:
  static:

# чтобы локально подключить базу данных к DBeaver нужно добавить порты
#
# db:
#  ports:
#    - "5432:5432"
# если деплоить буду, то обязательно удалить эти строки!!!

